---
title: A day in the life of the "average" remote worker
author: Sara Kassabian and Charlie Ablett
guest: true
author_twitter: gitlab
categories: culture
image_title: '/images/blogimages/remote-life-cover.png'
description: "Go on, you know you're curious! Explore a day in the life of GitLab team members from around the world."
tags: culture, remote work, collaboration, inside GitLab
twitter_text: "Explore a day in the life of GitLab team members from around the world. How do you spend your day working on @gitlab? #EveryoneCanContribute"
featured: yes
postType: content marketing
---
GitLab is an [all-remote company](/company/culture/all-remote/), meaning we are not based in one location or even one time zone. Instead, our team is distributed in home offices and work spaces [across the globe](/company/team/#countries), everywhere from San Francisco to London to Taipei.

Because GitLab is not limited to one time zone, we work asynchronously. Our asynchronous workflow gives us a [competitive advantage](/blog/2019/02/27/remote-enables-innovation/), because we are contributing 24 hours a day, as opposed to the standard 9am-5pm if we had a brick-and-mortar office headquartered in one location. As an organization, the focus is not on when or how a team member works, but rather on our [results](/handbook/values/#results).

Because of this emphasis on results rather than regimen, there is a lot of variability in how we structure our workdays. At [Contribute 2019](/events/gitlab-contribute/), a group of us came together to discuss how we use the flexibility GitLab affords us to structure our ideal workdays. Our discussion featured team members working in different capacities, as engineers, writers, and managers, from many different locations.

## Morning

There are a few morning activities that were universal: A warm cup of coffee or tea to kick off the day; and morning cuddles with a cat or dog if you have the good fortune of having a pet.

"When my alarm goes off, Milly, my dog, who hates getting out of bed, snuggles closer to me. I get up, make coffee, and log on to begin working. Meanwhile, Milly is usually still in bed until 10:30am, sometimes even 11:30am," says [Sara Kassabian](/company/team/#sarakassabian), content editor, from Oakland, California.

For some of us, sunshine (or other humans) function as the morning wake-up call.

"I stopped setting an alarm because mornings are quiet in my time zone, and (inevitably) I get woken by my upstairs neighbors getting ready for work anyway! I make a big cup of coffee and try to get all my deep focus work done before my coworkers in the US start to wake up," says [Rebecca Dodd](/company/team/#rebecca), managing editor, from London.

"I also do not set an alarm because I often work until late. Usually my kids wake me up at some point, and then I will have a big cup of tea," says [Charlie Ablett](/company/team/#cablett), a senior backend engineer, [Plan](/handbook/engineering/development/dev/plan/), from New Zealand.

Mornings can be a particularly hectic time for working parents. Oftentimes, parents who don't work remotely will have to juggle getting their children ready for school, getting ready for work, and making school drop-off in time to get to the office between 8am-9am. Parents working at GitLab have the opportunity to be in the home and available to their children because we're [all remote](/blog/2019/05/16/building-an-award-winning-culture-at-gitlab/). Flexible scheduling makes it a little bit easier to balance family with work obligations.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

## Midday

We all structure our afternoons differently. Some of us have children to pick up from school, while others are just starting their workday, or taking a break from the computer to run errands or exercise.

"I usually take a break to go running or to walk my dog. Then I’ll pick up my kids from school. I usually have one or two more screening calls and some team meetings," says [Stephanie Garza](/company/team/#stephaniegarza), diversity sourcing specialist, from Michigan.

"I start my workday in the afternoon by checking Slack and emails. I may go for a walk. I might work out then start focused work at 3pm or so," says [Laura Montemayor](/company/team/#lauraMon), frontend engineer, [Monitor](/handbook/engineering/frontend/monitor/), from New York City.

Weather is also a big determinant about whether work or play is on the agenda for the afternoon.

"It depends on whether or not the weather is nice or if I have plans in the evening. If it’s sunny in New York City, you have to go outside. If it’s nice I want to go enjoy the weather! Or if I’m going out in the evening I’ll get my work done first," says Avielle Wolfe, backend engineer, [Secure](/handbook/engineering/development/sec/secure/), from New York City.

"If it’s sunny in Oakland, I will take Milly for a longer walk, which gives me some Vitamin D and the boost of energy I’ll need to finish up any remaining tasks for the day," added [Sara](/company/team/#sarakassabian).

Not every team member lives in a location as urban as Oakland or New York City. Some live in suburban neighborhoods or more rural locations, all of which can have an impact on how we structure our day. For instance, [Charlie](/company/team/#cablett), who lives in a more rural setting, once had to set aside an hour around 4pm each day to milk her cows.

## Evening

For those of us with children, the evenings are the ideal time to set work aside and focus on family time.

"My evening typically begins with practice. My daughter does soccer and my son does karate. My husband works a weird schedule so this is my alone time with the kids. I will make dinner and then get some more work done sometime between 8-10pm," says [Stephanie](/company/team/#stephaniegarza).

If our workday started in the afternoon as opposed to the morning, there are often more tasks to be completed throughout the evening.

"I am still working by evening," says [Laura](/company/team/#lauraMon). "I’ll have a meal around 8pm. If I have plans, I go out, otherwise I play video games. If I get a second wind I’ll work more after 10pm."

"I try to finish my work by 6pm, but if I work overtime then the next day I will have an excuse to relax a little bit! In the evenings, I’ll cook dinner by putting some chicken and veggies into a steamer pot, and then continue working while that cooks, or I will go out for dinner. Sometimes I’ll attend local meetups, or just relax and watch TV. My bedtime is around midnight," says [Mark Chao](/company/team/#lulalala_it), backend engineer, [Create](/handbook/engineering/development/dev/create/), from Taipei.

## Focused versus collaborative work

GitLab gives us the flexibility to build a custom schedule, so early birds and night owls can work when they feel they are most effective. When we choose to work in tandem with teammates and when we do our focus work depends primarily upon two factors: When the overlap happens across teams and time zones, and also when we are most focused and/or creative.

"Europe and the Americas are chatty overnight so I have lots to catch up on in the morning, including the minutes of meetings that happened at 3am (e.g., daily company call)," says [Charlie](/company/team/#cablett). "America is still awake so I collaborate with them if I need to, and I do all my deep focus work later on when not many folks are around."

Though GitLab has a globally distributed team across 54 countries and regions, the majority of us are based in the United States and Europe.

"After lunch, I get maybe one more hour of focused work in until 3pm when America wakes up. Then meetings start, Slack gets busy, and then I'm trying to disentangle myself and switch off for the evening," says [Rebecca](/company/team/#rebecca). "If something doesn’t happen before 3pm, it generally doesn’t happen that day."

"In the afternoon for me, people will start to wake up and log on so I will have more interactions and working on issues," says [Mark](/company/team/#lulalala_it).

Sometimes team members with children will log on to complete a few more hours of work while the children are sleeping, generally between 8pm-10pm, and sometimes after 10pm.

## Family first at GitLab

"I love working at GitLab for a variety of reasons, but the flexibility in creating work-life harmony in my life tops my list. I work closely with our executive team here, and they have been so supportive and encouraging when family-related conflicts arise. They are constantly reminding me that "[family first](/handbook/values/#family-and-friends-first-work-second)" is our mantra, and give me ease of mind to take time away when needed," says [Cheri Holmes](/company/team/#cheriholmes), manager, executive assistant, from Dublin, California, in a previous [blog post](/blog/2019/05/16/building-an-award-winning-culture-at-gitlab/).

Inc. Magazine recently ranked GitLab as one of the [best places to work](/blog/2019/05/16/building-an-award-winning-culture-at-gitlab/), due in large part to a company culture that gives team members the agency to balance our personal and professional obligations. While the "average" team member may not share a schedule, we do share a commitment to our [values](/handbook/values/#credit): Collaboration, results, efficiency, diversity, iteration, and transparency. In order to work asynchronously effectively, everyone must embrace and embody the values of our organization.
